.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 2;
  color: white;
  background-color: #4a45517d;
  padding: 0.5em 1em;
}

.mainLogo {
  font-size: 1.5em;
  font-weight: bold;
}
.navigation {
  display: flex;
  gap: 1em;
  font-size: 0.9em;
}
.navigationMenuContainer {
  color: black;
}
