.slider {
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}
.slide {
  width: 100%;
  max-height: 650px;
  display: none;
  transition-duration: 1s ease;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.slide.active {
  display: flex;
  transition-duration: 1s;
}
.image {
  width: 100%;
  min-width: 600px;
  height: unset;
}

.main_title_container {
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main_title_container > h1 {
  font-size: 3em;
  letter-spacing: 2px;
}
.main_title_container > p {
  font-size: 1.05em;
}

.main_button_container {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.main_button {
  all: unset;
  font-size: 1.3em;
  min-width: 10em;
  min-height: 2em;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
  background: rgb(190 190 190 / 9%);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  transition: 0.2s;
}
.main_button:hover {
  background-color: rgba(242, 242, 242, 0.333);
}
.main_button:active {
  transform: scale(0.98);
}

.info_container {
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: rgb(173 173 173);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info_container > span:last-child {
  font-size: 1.15em;
}

/* Mobile */
@media (max-width: 700px) {
  .info_container > span {
    font-size: 0.9em;
  }
  .main_title_container > h1 {
    font-size: 2em;
  }
  .main_title_container > p {
    font-size: 0.9em;
  }
}
@media (max-width: 400px) {
  .info_container > span {
    font-size: 0.8em;
  }
}
@media (max-width: 330px) {
  .main_title_container > h1 {
    font-size: 1.8em;
  }
  .main_title_container > p {
    font-size: 0.8em;
  }
}
